.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
}

body {
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Lucida Console", "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fde7e7; 
  color: #000000;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contact-image {
  width: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.contact-image:hover {
  transform: scale(1.2);
}

.container {
  display: grid;
  grid-template-columns: 35% 2% 35%;
  text-align: center;
 

  .item-1 {
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
    outline-color: #dca7a7;
    outline-style:solid;
    background-color: #ffcece;
    border-radius: 25px;
    padding-bottom: 10%;
  }

  .item-1:hover {
    outline-color: rgb(220, 69, 69);
    background-image: url(./Components/images/bubbles.gif);
    transform: scale(1.05);
    color:  rgb(220, 69, 69);
  }

  .item-2 {
    grid-row: 1/2;
    grid-column: 3/3;
    text-align: center;
    outline-color: #dca7a7;
    background-color: #ffcece;
    outline-style:solid;
    border-radius: 25px;
    padding-bottom: 10%;
  }

  .item-2:hover {
    outline-color: rgb(220, 69, 69);
    color:  rgb(220, 69, 69);
    background-image: url(./Components/images/bubbles.gif);
    transform: scale(1.05);
  }
}

.description{
  grid-row: 3;
  grid-column: 1/5;
}

h1 {
  font-size: xx-large;
}
h2 {
  font-size: x-large;
}

navOption {
  font-size: x-large;
  border-color: transparent;
  text-align: center;
  background-color: #ffcece;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 5px 5px 5px rgb(255, 161, 161);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background-image: url(./Components/images/bubbles.gif);
}

navOption:hover {
  color: rgb(220, 69, 69);
  transform: scale(1.2);
}

p {
  font-size: large;
}


projectButton:hover {
  color: rgb(220, 69, 69);
  transform: scale(1.2);

} 

.projectImage {
  width: 75%;
  height: auto;
}

#projectmenu {
  display:table-row;
}

/*#project-button {
  display:table-row;

}*/


#projectmenu > * {
  display: none;
  float: none;
  /*position: absolute;*/
  z-index: 1;
  display: "block";
}

/*.c{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 18%;
  grid-template-rows: 10% 50% 40%;
  align-self: center;

.item-1{
  grid-row: 2;
  grid-column: 2;
}
.item-2{
  grid-row: 1;
  grid-column: 1/5;
}

}*/
.subcontent{
  position: relative;
  left: 3%;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #fde7e7; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /*margin: 50 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 4.0s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect 
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:  #fde7e7; }
}*/

wrap {
  background-image: url(./Components/images/bubbles.gif);
  background: #8c3636; 
}







